name: InspectCode

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

jobs:
  inspect-code:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Check out dependencies
        uses: actions/checkout@v3
        with:
          repository: SliceCraft/MiSideDependencies
          ref: '0.93'
          ssh-key: ${{ secrets.MISIDEDEPENDENCIES }}
          path: miside-dependencies
      - name: Move dependencies from clone to repository
        run: 'mv miside-dependencies/Dependencies/* ./Dependencies/'
      - name: Remove possible existing menulib
        run: 'rm ./Dependencies/SliceCraft.MenuLib.dll'
      - name: Annotate
        uses: JetBrains/ReSharper-InspectCode@v0.8
        with:
          solution: ./MenuLib.sln

    permissions:
      security-events: write
