name: InspectCode

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

jobs:
  inspect-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Annotate
        uses: JetBrains/ReSharper-InspectCode@v0.8
        with:
          solution: ./MenuLib.sln

    permissions:
      security-events: write
